body {
    margin: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(188, 188, 210);
    padding: 5px;
    border-radius:15px 15px 0 0;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(166, 166, 201);
    padding: 5px;
    border-radius: 0 0 15px 15px;
}

.bodySection {
    padding-left: 15px;
}

.splash {
    background-image: rgb(36, 36, 159);
    padding: 5px;
    border-radius: 20px;
    margin: 10px;
    z-index: 1;
}

#mainSection {
    background-color: rgb(84, 148, 204);
    padding: 5px;
    background-image: linear-gradient(rgb(188, 188, 210), lavender, lavender, rgb(166, 166, 201), rgb(166, 166, 201));
    z-index: 99;
}

h1 {
    font-family: "Baskervville SC", serif;
    font-weight: bolder;
    font-style: italic;
}

img {
    border: 3px solid black;
    border-radius: 10px;
}

#addressParagraph {
    font-weight: 600;
    font-size: 14px;
    color: darkslategray;
}

#lineParagraph {
    font-style: italic;
    font-size: 18px;
}

hr {
    height: 4px;
    color: #6d4d58;
    background: #6d4d58;
    font-size: 0;
    border: 0;
}

section h2 {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
    color: darkslategrey
}
  
dt, dd, dl, li {
    text-align: left;
    font-style: italic;
    line-height: 2;
    list-style-type: none;
    margin-left: 0em;
    font-size: 14px;
}

dd {
    margin-left: 2em;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: blueviolet;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: .5s;
}
  
a:hover, a:active {
    color: purple;
    transform: scale(1.05);
}

.one-col {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

span {
    display: block;
    margin-bottom: 10px;
}

input:focus, textarea:focus {
    background-color: lavender;
    border: 2px solid black;
}

input:hover, textarea:hover {
    background-color: lavender;
    border: 2px solid black;
}

input, textarea, .one-col span{
    padding: 10px;
    margin-bottom: 10px;
    transition: .3s;
}

.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 10px;
    margin-bottom: 20px;
}

input[type=submit] {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transition: .5s;
}

input[type=submit]:hover {
    transform: scale(1.05);
    font-size: 16px;
    margin-bottom: scale(.7);
    cursor: pointer;
}

.card {
    display: block;
    background-color: antiquewhite;
    border: solid 3px black;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

div img {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}